# Logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build
app

# Dependency directories
node_modules

# Optional npm cache directory
.npm
