/**
 * Faind a Pair - a simple CSS + JS game
 * coded by Anatol Merezhanyi @e1r0nd_crg
 * https://www.youtube.com/c/AnatolMerezhanyi
 */
.c-body {
  background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px, -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px, -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px, -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px, -webkit-linear-gradient(left, #1b1b1b 10px, transparent 10px), -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.title {
  margin: 30px auto;
  text-align: center;
  text-shadow: #33f 0 0 20px;
}
.title--start {
  position: relative;
  width: 500px;
}

.button,
.popup {
  list-style: none;
  width: 250px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  position: absolute;
  left: calc(50% - 125px);
  border: 1px solid #B71C1C;
  background-color: #F44336;
  font-size: 24px;
  text-shadow: #333 2px 2px 2px;
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 2px solid;
  outline-color: rgba(255, 255, 255, 0.6);
}
.button {
  -webkit-transition: outline 2s, box-shadow 2s, text-shadow 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: outline 2s, box-shadow 2s, text-shadow 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.button:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px white;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 25px;
  text-shadow: #427388 1px 1px 2px;
  -webkit-transition: outline 1s, outline-offset 1s, box-shadow 1s, text-shadow 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: outline 1s, outline-offset 1s, box-shadow 1s, text-shadow 1s 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.button--teal {
  text-shadow: #333 1px 1px 3px;
  border: 1px solid #004D40;
  background-color: #009688;
}

.menu .button--start {
  top: 150px;
}
.menu .button--scores {
  top: 250px;
}
.menu .button--about {
  top: 350px;
}

.close {
  position: absolute;
  top: -8px;
  right: 50px;
  color: #FFFF00;
  cursor: pointer;
  font-size: 48px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform .75s linear;
  transition: transform .75s linear;
}
.close:hover {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
}

.start__board {
  width: 500px;
  height: 500px;
  position: absolute;
  left: calc(50% - 250px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #48e68b;
  background-color: black;
  background-image: -webkit-radial-gradient(#ffffff, rgba(255, 255, 255, 0.2) 2px, rgba(0, 0, 0, 0) 40px), -webkit-radial-gradient(#ffffff, rgba(255, 255, 255, 0.15) 1px, rgba(0, 0, 0, 0) 30px), -webkit-radial-gradient(#ffffff, rgba(255, 255, 255, 0.1) 2px, rgba(0, 0, 0, 0) 40px), -webkit-radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, rgba(0, 0, 0, 0) 30px);
  background-image: radial-gradient(#ffffff, rgba(255, 255, 255, 0.2) 2px, rgba(0, 0, 0, 0) 40px), radial-gradient(#ffffff, rgba(255, 255, 255, 0.15) 1px, rgba(0, 0, 0, 0) 30px), radial-gradient(#ffffff, rgba(255, 255, 255, 0.1) 2px, rgba(0, 0, 0, 0) 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, rgba(0, 0, 0, 0) 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 2px solid;
  outline-color: rgba(255, 255, 255, 0.6);
}
.start__playboard {
  position: relative;
  width: 490px;
  height: 100%;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.start__ready {
  position: absolute;
  top: 180px;
  left: calc(50% - 75px);
  width: 150px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #F44336;
  border-radius: 31px;
  border: 2px solid #B71C1C;
  text-shadow: #000 2px 2px 2px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0.62, 0.63, 0.06, 1.65);
          transition: all 0.75s cubic-bezier(0.62, 0.63, 0.06, 1.65);
}
.start__counter {
  width: 5px;
  height: 100%;
  background: #D50000;
}
.start__counter--collapse {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition:-webkit-transform 55s linear;
          transition: transform 55s linear;
}

.scores .button--scores {
  height: 370px;
}
.scores__item {
  text-align: left;
  padding-left: 15px;
}

.about .button--about {
  width: 380px;
  height: 400px;
  left: calc(50% - 190px);
}
.about__text {
  line-height: 28px;
  text-align: justify;
  margin: 0 15px;
}

.chip {
  position: absolute;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset, 0 0 0 1px #ffc8ff, 0 0 20px white;
  cursor: pointer;
  -webkit-transition: box-shadow .5s linear;
  transition: box-shadow .5s linear;
}
.chip.u--selected {
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.8) inset, 0 0 0 1px blue, 0 0 20px blue;
  -webkit-transition: box-shadow .5s cubic-bezier(0.75, -0.55, 0.81, 0.51);
  transition: box-shadow .5s linear;
}
.chip:hover, .chip.selected {
  box-shadow: 0 0 0 2px rgba(255, 255, 0, 0.8) inset, 0 0 0 1px #ffc800, 0 0 20px yellow;
  -webkit-transition: box-shadow .5s linear;
  transition: box-shadow .5s linear;
}
.chip--round {
  border-radius: 50px;
}
.chip--dots {
  background-color: rgba(255, 255, 255, 0.3);
  background-image: -webkit-radial-gradient(#2196f3 15%, rgba(0, 0, 0, 0) 15%), -webkit-radial-gradient(#2196f3 15%, rgba(0, 0, 0, 0) 15%);
  background-image: radial-gradient(#2196f3 15%, rgba(0, 0, 0, 0) 15%), radial-gradient(#2196f3 15%, rgba(0, 0, 0, 0) 15%);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
.chip--checkboard {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: -webkit-linear-gradient(45deg, #009688 25%, transparent 25%, transparent 75%, #009688 75%, #009688), -webkit-linear-gradient(45deg, #009688 25%, transparent 25%, transparent 75%, #009688 75%, #009688);
  background-image: linear-gradient(45deg, #009688 25%, transparent 25%, transparent 75%, #009688 75%, #009688), linear-gradient(45deg, #009688 25%, transparent 25%, transparent 75%, #009688 75%, #009688);
  background-size: 26px 26px;
  background-position: 0 0, 13px 13px;
}
.chip--shippo {
  background-color: rgba(255, 255, 255, 0.3);
  background-size: 26px 26px;
  background-position: 0 0, 13px 13px;
  background-image: -webkit-radial-gradient(closest-side, rgba(0, 0, 0, 0) 98%, #ff5722 99%), -webkit-radial-gradient(closest-side, rgba(0, 0, 0, 0) 98%, #ff5722 99%);
  background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0) 98%, #ff5722 99%), radial-gradient(closest-side, rgba(0, 0, 0, 0) 98%, #ff5722 99%);
}
.chip--stripes {
  background-color: #F44336;
  background-image: -webkit-linear-gradient(left, transparent 50%, rgba(255, 255, 255, 0.8) 50%);
  background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.8) 50%);
  background-size: 10px 10px;
}
.chip--tablecloth {
  background-color: #FFFF00;
  background-image: -webkit-linear-gradient(left, rgba(200, 0, 0, 0.5) 50%, transparent 50%), -webkit-linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 50%);
  background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.5) 50%, transparent 50%), linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 50%);
  background-size: 15px 15px;
}
.chip--clockwise {
  -webkit-animation: rotate 20s infinite linear;
          animation: rotate 20s infinite linear;
}
.chip--c-clockwise {
  -webkit-animation: rotate 20s infinite linear reverse;
          animation: rotate 20s infinite linear reverse;
}
.chip--tick {
  -webkit-animation: rotate 60s steps(60, end) infinite;
          animation: rotate 60s steps(60, end) infinite;
}
.chip--c-tick {
  -webkit-animation: rotate 60s steps(60, end) infinite reverse;
          animation: rotate 60s steps(60, end) infinite reverse;
}
.chip--phase {
  -webkit-animation: phase 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
          animation: phase 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
.chip--c-phase {
  -webkit-animation: phase 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite reverse;
          animation: phase 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite reverse;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes phase {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  75% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes phase {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  75% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
.u--visible {
  margin: 0 auto;
  width: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-filter: blur(0);
          filter: blur(0);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-filter .5s, opacity .5s linear;
  transition: filter .5s, opacity .5s linear;
  color: #fff;
}

.u--blur-fadeout {
  -webkit-filter: blur(30px);
          filter: blur(30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.u--fadeout {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .33s linear;
  transition: all .33s linear;
}

.chip.u--unscale,
.u--unscale {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .33s cubic-bezier(0.75, -0.55, 0.81, 0.51);
  transition: all .33s cubic-bezier(0.75, -0.55, 0.81, 0.51);
}

.u--nocontent {
  margin: 0;
  padding: 0;
  font-size: 0;
}
